<IfModule mod_rewrite.c>
    RewriteEngine On
    # Pass Authorization header to PHP in XAMPP / Apache
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
</IfModule>

<IfModule mod_headers.c>
    Header Always Set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header Always Set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
</IfModule>
